{% extends 'base.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block content %}
    <h5 align = "right"><a href={%  url 'home' %}> <i class = "fa fa-home"> Home</i></a> </h5>
    <h1 class="text-danger text-center bg-white"> new create product 1/02/66</h1>
    <form method = "post" class = "form form-control">
    {%  csrf_token %}
    {{ form.as_table }}
    <div class="text-center">
        <input type="submit" value="save" class="btn btn-warning">
        <input type="reset" value="reset" class="btn btn-danger">
    </div>



    </form>


{% endblock %}