{% extends 'base.html' %}
{%load static%}
{% block content %}
{#<div class="jumbotron">#}
{#        <h1>Educations</h1>#}
{#    </div>#}
    <br>
    <img src="{% static 'images/white.png'%}" width="200" height="220" align="center">
    <img src="{% static 'images/white.png'%}" width="200" height="220" align="center">
    <img src="{% static 'images/me19.JPG'%}" width="200" height="220" align="center"><br>
    <div class="row">
            <h2 class="text-center display-10" style="background-color:papayawhip"><b><u>EDUCATIONS</u></b></h2>

    </div>
{##}
{#     <h2 class="bg-primary text-white align-items-center">Educations</h2>#}
        <table class="table table-warning">
            <tr>
                <td width="20%">Kindergarten  : </td>
                <td width="80%">Ban Phai Wittaya Foundation School</td>
            </tr>
            <tr>
                <td>Primary School : </td>
                <td>Ban Phai Wittaya Foundation School, Anuban Suksupha School</td>
            </tr>
            <tr>
                <td>High School (grade7-9)  :</td>
                <td>Banphai School</td>
            </tr>
            <tr>
            <td>Vocational Certificate : </td>
                <td>Khon kaen Industrial and Community Education College</td>
            </tr>
            <tr>
             <td>Diploma Certificate  : </td>
             <td>Khon kaen Industrial and Community Education College</td>
            </tr>
            <tr>


            <td>Bachelor Degree  : </td>
            <td>Rajamangala University of Technology Isan Khon Kaen Campus</td>
            </tr>
        </table>

{% endblock %}