{% extends 'base.html' %}
{%load static%}
{% block content %}
    <br>
    <marquee direction ="left">hello, hola, sawasdeeka, nihao, annyeong anyway nice to meet yoooooou!!!!!</marquee>
{#  <h2 class="bg-primary text-light align-items-center">#}
{#    HI!! ITS ME "JAOBUTTER" </h2>#}
    <div class="row">
            <h3 class="text-center display-10" style="background-color:hotpink"><b><u>HI EVERYONE! THIS IS ME "JAOBUTTER"</u></b></h3>
            <br><br>
    </div>
    <p>
        <img src="{% static 'images/me1.JPG'%}" width="380" height="400" align="right"><br>
        <b>imma let you know me so well from now on >_< </b>
        okay, first of all i just wanna say that "THIS IS MY FIRST WEBSITE THO"
        So!!! dont be forcing me :-( cuz you know im a sensitive girl ! ._.
        the second of all is i always appreciate for all the compliment hehe ;p
        and the last one is "WELCOME TO MY PAGE KA" as you know actually im not
        a morning person T_T i need to wake up so damn early tho. i want a big-big
        weekend after i tried so damn hard for midterm exam T_T but yea im here
        on sunday just for studying. ik ik that im 21 i should study well but
        who cares rn? i just wanna rest zz. why i need to be sitting here and acting
        like im fine but actually im not! i wanna have a big rest maybe for 10 hrs.
        i wanna sleep whole day whole night, watching lot of series, eat and repeat
        T_T i wanna come back home so bad :-( my home sweet home <33333




        <br><br><br>
    </p>
{% endblock %}>