{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
        <br>
        <div class = "row">
            <h3 class="text-center display-10" style="background-color: palevioletred"><b><u>Influencer</u></b></h3><br>
            <h3 class="text-center"><b>Katheryn Lee(P'Kathy)</b></h3>
            <br>
        </div>
        <img src="{% static "images/fu1.PNG"%}" width ="200" height="150" class="mx-auto d-block img-thumbnail img-fluid">
        <br>

</div>
    <br>
    <img src="{% static 'images/fu2.PNG'%}" width="180" height="200" align="center">
    <img src="{% static 'images/fu5.PNG'%}" width="180" height="200" align="center">
    <img src="{% static 'images/fu3.PNG'%}" width="180" height="200" align="center">
    <img src="{% static 'images/fu6.PNG'%}" width="180" height="200" align="center">
    <img src="{% static 'images/fu4.PNG'%}" width="180" height="200" align="center"><br><br><br>
    <img src="{% static 'images/fu7.PNG'%}" width="180" height="200" align="center">
    <img src="{% static 'images/fu8.PNG'%}" width="180" height="200" align="center">
    <img src="{% static 'images/fu9.PNG'%}" width="180" height="200" align="center">
    <img src="{% static 'images/fu10.PNG'%}" width="180" height="200" align="center">
    <img src="{% static 'images/fu11.PNG'%}" width="180" height="200" align="center"><br>
{% endblock %}