{% extends "base.html" %}
{% load static %}
{% block content %}

<div class = "row">
        <div class="row">
            <h2 class="text-center display-" style="background-color:palegreen"><b><u>The things im interesting recently </u></b></h2>
            <br><br>
        </div>
        <div class ="row">
            <div class ="col-lg-2">
                <h2 class ="display-9 text-center"><b>Manga</b></h2>
                <img src="{% static "images/in1.jpg"%}" width="200"  height="200" class="mx-auto d-block img-fluid">
                <img src="{% static "images/in2.jpg"%}" width="200"  height="200" class="mx-auto d-block img-fluid"><br>
            </div>

            <div class="col-lg-10">
                <br><br><br>
                <h5 class ="display-1">: Attack on titan</h5>
                <br><br><br>
                <h2 class = "display-1">: Jujustu</h2>
            </div>
            <br><br><br>

            <div class ="row">
            <div class ="col-lg-2">
                <h2 class ="display-9 text-center"><b>football player</b></h2>
                <img src="{% static "images/in8.jpg"%}" width="200"  height="200" class="mx-auto d-block img-fluid">
                <img src="{% static "images/in9.jpg"%}" width="200"  height="200" class="mx-auto d-block img-fluid"><br>
            </div>

            <div class="col-lg-10">
                <br><br><br>
                <h5 class ="display-1"> : Ilkay Gundogan</h5>
                <br><br><br>
                <h2 class = "display-1"> : Ruben Dias</h2>
            </div>
            <br><br><br>

            <div class ="row">
            <div class ="col-lg-2">
                <h2 class ="display-9 text-center"><b>k-drama</b></h2>
                <img src="{% static "images/in5.jpg"%}" width="200"  height="200" class="mx-auto d-block img-fluid">
                <img src="{% static "images/in6.jpg"%}" width="200"  height="200" class="mx-auto d-block img-fluid"><br>
            </div>

            <div class="col-lg-10">
                <br><br><br>
                <h5 class ="display-1"> : The glory</h5>
                <br><br><br>
                <h2 class = "display-1"> : Our beloved summer</h2>
            </div>
            <br><br><br>



{#            <div style="background-color: palevioletred">#}
{#                <h2 class ="display-1"><b> Hobby </b></h2>#}
{#                <p>My hobby is none</p>#}
{#                <img src="{% static "images/newlogo.png"%}" width ="200" height="150" class="mx-auto d-block img-thumbnail img-fluid">#}
{##}
{#                <h2 class="display-1"> <b> subject </b></h2>#}
{#                <img src="{% static "images/newlogo.png"%}" width ="200" height="150" class="mx-auto d-block img-thumbnail img-fluid">#}
{##}
{#            </div>#}

        </div>
    </div>
</div>
</div>
{% endblock %}