{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="pt-3 ">
    <h1 class="text-center">ข้อมูลส่วนตัว กับ ข้อมูลสินค้า</h1>
        <table class="table table-light table-striped">
        <tbody>
            <tr>
                <td><b>name : </b>{{ fname }}</td>
                <td><b>surname : </b>{{ lname }}</td>
            </tr>
            <tr>
                <td><b>nickname : </b>{{ nick }}</td>
                <td><b>gender : </b>{{ gen  }} </td>
            </tr>
            <tr>
                <td><b>age : </b>{{ old }}</td>
                <td><b>birthdate : </b>{{ birth }}</td>
            </tr>
            <tr>
                <td><b>address : </b>{{ home }} </td>
                <td><b>status : </b>{{ sta }} </td>
            </tr>
            <tr>
                <td><b>hobby : </b>{{ hob }} </td>
                <td><b>fav subject : </b>{{ fav }} </td>
            </tr>
        </tbody>
    </table>
    </div>
    <table class="table table-danger table-striped text-table">
        <thead>
        <tr>
            <th scope="col">product</th>
            <th scope="col">price</th>
            <th scope="col">photo</th>
        </tr>
        </thead>
        <tbody>
        {% for listproduct in product %}
            <tr>
                <td>{{ listproduct.0 }}</td>
                <td>{{ listproduct.1 }}</td>
                <td><img src="{% static listproduct.2 %}"class="max-width: 100%; height: auto;" style="width: 200px" ></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}