{% extends 'base.html' %}
{% block content %}
{% load humanize %}
    <head>
        <style>
            #pic { width: 200px;}
            td {text-align: center;
             vertical-align: middle;
                font-size: 16px;}
            p{font-size: 18px}
            th { vertical-align: middle;
                font-size: 20px;}
        </style>
    </head>
    {% load static %}
    <div class="rounded m-3 bg-white" style="height: 100%; font-family: 'Prompt', sans-serif;">
    <div class="d-flex pt-3 bd-highlight">
            <div class="p-2 bg-primary flex-fill text-white" style="font-family:'Yellowtail', cursive;">
             <h2> Practice 11</h2>
            </div>
        </div>
        <br>
    <div class="row">
        <div class="col-6 px-3">
          <b>
              <p>product: {{ details }}</p>
              <p>by: {{ name }}</p>
              <p>date: {{ date }}</p>
             <a class="btn btn-success" href="{% url 'inputProduct' %}">เพิ่มข้อมูล</a>
            </b>
        </div>

    </div>
        <div>
           <table class="table table-primary table-hover table-striped table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Flavor</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Member</th>
            <th>Discount</th>
            <th>Total</th>



        </tr>
        {% for listproduct in lstProduct %}
        <tr>
            <td>{{ listproduct.getId }}</td>
            <td>{{ listproduct.getName }}</td>
            <td>{{ listproduct.getBrand }}</td>
            <td>{{ listproduct.getType }}</td>
            <td>{{ listproduct.getFlavor }}</td>
            <td>{{ listproduct.getAmount }}</td>
            <td>{{ listproduct.getPrice|intcomma }} baht </td>
            <td>{{ listproduct.getMember }}</td>
            <td>{{ listproduct.getDiscount|floatformat  }}</td>
            <td>{{ listproduct.getTotal|intcomma }} </td>

        </tr>
               {% endfor %}
           </table>
        </div>
    </div>
{% endblock %}





















{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% load fontawesome_5 %}#}
{#{% block content %}#}
{#    <h1 class ="text-warning text-center bg-black">assignment11</h1>#}
{#    <table class = "table table-primary table-striped table-hover">#}
{##}
{#    <tr>#}
{#        <th>id</th>#}
{#        <th>name</th>#}
{#        <th>brand</th>#}
{#        <th>type</th>#}
{#        <th>flavor</th>#}
{#        <th>amount</th>#}
{#        <th>price</th>#}
{#        <th>vat</th>#}
{#        <th>discount</th>#}
{#        <th>net</th>#}
{#    </tr>#}
{#    {% for product in products %}#}
{#        <tr>#}
{#        <td>{{ product.id }}</td>#}
{#        <td>{{ product.name }}</td>#}
{#        <td>{{ product.brand }}</td>#}
{#        <td>{{ product.type }}</td>#}
{#        <td>{{ product.flavor }}</td>#}
{#        <td>{{ product.price }}</td>#}
{#        <td>{{ product.net }}</td>#}
{#    </tr>#}
{#    {% endfor %}#}
{#    </table>#}
{##}
{#    <div class="row">#}
{#        <div class="col col-6 text-lg-start">#}
{#            <a href="{%  url 'newProduct'%}" class="btn btn-success">#}
{#                <i class ="fa fa-plus"></i> new product#}
{#            </a>#}
{##}
{#            <a href="{% url 'frmProduct'%}" class="btn-success">#}
{#                <i class ="fa fa-plus"></i> new product#}
{#            </a>#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{##}
{##}
{##}
{##}
{#{% endblock %}#}