<br><br><br>
<ul class="list-group">
    <li class="list-group-item active">
        <i class="fa fa-list"></i> Menu:
    </li>
    <li class="list-group-item">
        <a href="{% url 'home' %}">
        {#{% url=’home’ %} อาจมาพิมพ์ทีหลังก็ได้ เนื่องจากยังไม่ได้สร้าง router ไว้ .. ไม่ต้องพิมพบ์ รรทดันี้#}
            <i class="fa fa-home"></i> Home
        </a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'profile' %}">
            {#{% url=’subjectProfile’ %} อาจมาพิมพ์ทีหลังก็ได้ เนื่องจากยังไม่ได้สร้าง router ไว้ .. ไม่ต้องพิมพบ์ รรทดันี้#}
            <i class="fa fa-child"></i> profile
        </a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'edu' %}">
            {#{% url=’subjectProfile’ %} อาจมาพิมพ์ทีหลังก็ได้ เนื่องจากยังไม่ได้สร้าง router ไว้ .. ไม่ต้องพิมพบ์ รรทดันี้#}
            <i class="fa fa-book"></i> educations
        </a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'interest' %}">
            {#{% url=’subjectProfile’ %} อาจมาพิมพ์ทีหลังก็ได้ เนื่องจากยังไม่ได้สร้าง router ไว้ .. ไม่ต้องพิมพบ์ รรทดันี้#}
            <i class="fa fa-music"></i> interest
        </a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'influ' %}">
            {#{% url=’subjectProfile’ %} อาจมาพิมพ์ทีหลังก็ได้ เนื่องจากยังไม่ได้สร้าง router ไว้ .. ไม่ต้องพิมพบ์ รรทดันี้#}
            <i class="fa fa-star"></i> Influencer
        </a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'product' %}">
            {#{% url=’subjectProfile’ %} อาจมาพิมพ์ทีหลังก็ได้ เนื่องจากยังไม่ได้สร้าง router ไว้ .. ไม่ต้องพิมพบ์ รรทดันี้#}
            <i class="fa fa-shopping-cart"></i> products
        </a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'test' %}">
            {#{% url=’subjectProfile’ %} อาจมาพิมพ์ทีหลังก็ได้ เนื่องจากยังไม่ได้สร้าง router ไว้ .. ไม่ต้องพิมพบ์ รรทดันี้#}
            <i class="fa fa-bookmark"></i> test
        </a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'showMydataGroup' %}">
            {#{% url=’subjectProfile’ %} อาจมาพิมพ์ทีหลังก็ได้ เนื่องจากยังไม่ได้สร้าง router ไว้ .. ไม่ต้องพิมพบ์ รรทดันี้#}
            <i class="fa fa-person-booth"></i> Mydata Group
        </a>
    </li>
        <li class="list-group-item">
        <a href="{% url 'showMyData' %}">
            {#{% url=’subjectProfile’ %} อาจมาพิมพ์ทีหลังก็ได้ เนื่องจากยังไม่ได้สร้าง router ไว้ .. ไม่ต้องพิมพบ์ รรทดันี้#}
            <i class="fa fa-cookie-bite"></i> ShowMyData
        </a>
    </li>
</ul>
<br><br><br><br>